@use "_config" as config;

body {
  padding: 0;
  margin: 0;
  font-family: config.$font-primary;
}

.dark {
  background-color: config.$c-dark;
  color: config.$c-light;
}

.dark button {
  background-color: config.$c-light;
  color: config.$c-dark;
}

.dark button:hover {
  background-color: config.$c-primary;
  color: config.$c-light;
}

.light {
  background-color: config.$c-light;
  color: config.$c-dark;
}

.light button {
  background-color: config.$c-dark;
  color: config.$c-light;
}

.light button:hover {
  background-color: config.$c-primary;
  color: config.$c-light;
}
